.header
{
    background-color: aqua;
}

.header p, .header h3
{
    text-align: center;
}

.header h3
{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
}

body
{
    font-size: 1rem;
    font-family: Inter;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(146, 146, 252);
    display: grid;
}